<header class="main-header">
    <a href="" class="brand-logo">
        <img src="/static/images/Logo.png">
        <!-- <div class="brand-logo-name">YT</div> -->
    </a>
    <nav class="main-nav">
        <ul>
            <li><a href="recommend.html">Recommendation</a></li>
            <li><a>About Us</a></li>
            <!-- 만약 메인페이지가 아니라면 출력-->
            {% if user.is_authenticated %}
            <li><a href="{% url 'accountapp:detail' pk=user.pk %}">MyPage</a></li>
            <li><a href="{% url 'accountapp:logout' %}">{{ user.username }}님 Log Out</a></li>
            {% else %}
            <li><a href="{% url 'accountapp:login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</header>