{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--css-->
    <style>
        /*
         * 영화 리스트 style/css
         */
        .container div {
            width: 250px;
            background-color: #202027;

            justify-content: center;
            align-items: center;
            border-radius: 1rem;
        }

        .container img {
            width: 100%;
        }

        /*
         * 영화 평점 style/css
         */
        .star_rating {
            font-size: 0;
            letter-spacing: -4px;
        }

        .star_rating a {
            font-size: 30px;
            letter-spacing: 0;
            display: inline-block;
            margin-left: 5px;
            color: #ccc;
            text-decoration: none;
        }

        .star_rating a:first-child {
            margin-left: 0;
        }

        .star_rating a.on {
            color: orange;
        }

    </style>

    <!--div 부트스트랩 container 클래스를 사용하면 자바스크립트 파일(도 container 때문)과 충돌발생-->
    <div class="head-con">
        <h2>영화를 평가해주세요!</h2>
        <br>
    </div>
    <!--영화 리스트-->
    <div class="container">
        <!--영화 정보 모델에서 for문을 통해 div 생성해 로드-->
        {% for movie in movie_list %}

            <div class="{{ movie.movieId }}">
                <br>
                <!--영화 포스터-->
                {% if movie.imgurl != Null %}
                    <img src="{{ movie.imgurl }}" alt="{{ movie.movieId }}"></img>
                {% else %}
                    <p style="text-align: center">
                    No Img
                    </p>
                {% endif %}
                <!--영화 타이틀-->
                <a href="{% url 'goapp:rating_detail' movie.movieId %}">
                    <p style="text-align: center">
                    {{ movie.title }}
                    </p>
                </a>
                <!--영화 별점-->
                <div class="star_rating text-center">
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
                    <a href="#">★</a>
                </div>

                <br>

            </div>

        {% endfor %}
        <!--영화 for문 끝-->
    </div>

    <br>

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if movie_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ movie_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in movie_list.paginator.page_range %}
            {% if page_number >= movie_list.number|add:-5 and page_number <= movie_list.number|add:5 %}
                {% if page_number == movie_list.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if movie_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ movie_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <!--영화 추천 받기 버튼을 클릭하면 추천페이지로 간다-->
    <div class="container my-3 text-center">
        <a href="{% url 'goapp:recommend' %}" class="btn">영화 추천 받기</a>
    </div>

    <!--영화 리스트 js-->
    <script src="{% static 'js/magicgrid.js' %}"></script>
    <!--별점 js js-->
    <script src="{% static 'js/ratingstar.js' %}"></script>

{% endblock %}