.home-main-section{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-grow: 1;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    align-self: center;
    border: 20px solid transparent;
    border-image: linear-gradient( to bottom, #EB5E0F, #BC3A80);
    border-image-slice: 1;
}

.home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    left: 27vw;
    top: 8vw;
    /*width: 360px;
    height: 360px;
    left: 389px;
    top: 120px;*/
    border-radius: 50%;
    background: rgba(242, 201, 76, 0.3);
    z-index: -1;
}
.home-page-circle-2{
    position: absolute;
    width: 14vw;
    height: 14vw;
    left: 33vw;
    top: 30vw;
    /*width: 200px;
    height: 200px;
    left: 481px;
    top: 433px;*/
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    z-index: -1;
}
.home-page-circle-3{
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: 17vw;
    top: 21vw;
    /*width: 280px;
    height: 280px;
    left: 249px;
    top: 308px;*/
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
    z-index: -1;
}
.home-page-circle-4{
    position: absolute;
    overflow: hidden;
    width: 45vw;
    height: 45vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.home-page-circle-4::before{
    content: '';
    transform: translate(40%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(45, 156, 219, 0.3);
}