.jealous_logo {
 font-family: 'Yanone Kaffeesatz', sans-serif;
}


.jealous_footer_button {
 font-size:0.9rem;
}

.jealous_footer{
 text-align:center;
 margin-top: 2rem;
}


.jealous_header{
 text-align:center;
 margin: 2rem 0;
}
